@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1px;

  @media (max-width: 375px) {
    font-size: calc(100vw / 375 * 1);
  }
}

@layer base {
  @font-face {
    font-family: "monorama";
    src: url("/fonts/monorama/monorama-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "monorama";
    src: url("/fonts/monorama/monorama-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "monorama";
    src: url("/fonts/monorama/monorama-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "monorama";
    src: url("/fonts/monorama/monorama-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply bg-black font-monorama text-[16rem] text-white dark:bg-black dark:text-white;
  }
}

@layer components {
  .max-container {
    @apply w-full px-[20rem] max-w-[1385rem];
  }
}
